.title-container {
  display: flex;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.75;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
  margin: 32px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .title {
    width: 100%;
    font-size: 22px;
    text-align: center;
    line-height: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-150px);
  }
}
