.title-container {
  display: flex;
  width: 80%;
}

.title {
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 4vh;
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 0;
}

.title {
  font-size: 25px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .title-container {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;
    width: 300px;
    top: 0;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .title-img.attend {
    background-image: url("../../assets/thumbnail-images/dobo-12-thumb.jpg");
  }

  .title-img.about {
    background-image: url("../../assets/thumbnail-images/dobo-4-thumb.jpg");
  }

  .title-img.create {
    background-image: url("../../assets/images/julius-randle.jpeg");
  }

  .title-img {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    box-shadow: 0 2px4px rgba(0, 0, 0, 0.25);
  }

  .title {
    width: 50%;
    margin: auto;
    font-size: 22px;
    animation: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: right;
  }
}
