.title-container {
  width: 100%;
  height: 100px;
  position: relative;
}

.title {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  font-weight: 700;
  text-shadow: 0 1.75px 2.75px rgba(0, 0, 0, 1);
  text-align: center;
  color: #f2f1f0;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
