.photo-gallery-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.photo-gallery-container .awssld {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}

.photo-gallery-slide .awssld__controls__arrow-left,
.photo-gallery-slide .awssld__controls__arrow-right {
  position: absolute;
  cursor: pointer;
  visibility: visible;
}
