.create-event-container {
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.3);
}

.create-event-form {
  width: 80%;
  margin-left: 0;
}

.create-event-form form {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}


@media (max-width: 768px) {
  .create-event-container {
    height: auto;
  }

  .create-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .create-event-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-event-form button {
    margin: auto;
  }
}
