.create-event-container {
  min-height: calc(100vh - 92px);
  display: flex;
}

.create-left,
.create-right {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-left {
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.create-right {
  overflow-y: auto;
}

.create-title-container {
  display: flex;
  width: 80%;
}

.create-title {
  font-family: "Aboreto", sans-serif;
  letter-spacing: -3.5px;
  color: black;
  text-shadow: 2px 2px 1.25px rgba(0, 0, 0, 0.25);
  margin-top: 4vh;
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 3.15rem;
  transform: translateX(800px);
  opacity: 0;
}

.create-event-form {
  width: 80%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}

.create-event-form form {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.create-event-form p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: black;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.create-event-form input {
  font-family: "Jost", sans-serif;
  width: 225px;
  border: 1px solid black;
  font-size: 1rem;
  padding-left: 1rem;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1.25px 1.25px 2.5px black;
  background-color: rgba(255, 255, 255, 0.5);
}

.create-event-form select {
  font-family: "Jost", sans-serif;
  letter-spacing: 1.5px;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 1rem;
  box-shadow: 1.25px 1.25px 2.5px black;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2vh;
}

.create-event-form input:focus,
.create-event-form select:focus,
.create-event-form textarea:focus {
  background-color: white;
  outline: none;
}

@media (max-width: 768px) {
  .create-event-container {
    height: auto;
  }
  .create-left {
    display: none;
  }

  .create-title-container {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 90%;
    background-image: url("../../assets/thumbnail-images/dobo-8-thumb.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    box-shadow: 1.25px 1.25px 2.5px black;
    top: 0;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .create-title {
    margin: auto;
    font-size: 3.5rem;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 1);
  }
}
