.about-container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 55px 0;
}

.about-info-container {
  width: 55%;
}

.about-text {
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 32px;
}

.about-text p {
  margin-top: 0;
}

.about-text img {
  height: auto;
  width: 165px;
  margin-bottom: 8px;
}

.paragraph-1 {
  margin-top: 0;
}

.paragraph-3 {
  margin: 50px 0;
}

@media (max-width: 768px) {
  .about-info-container {
    height: auto;
    width: 315px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.35;
  }
}
