.about-container {
  min-height: calc(100vh - 58px);
  display: flex;
}

.about-left,
.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-right {
  overflow-y: auto;
}

.about-title-container {
  display: flex;
  width: 80%;
  height: 110px;
}

.about-title {
  font-family: "Aboreto", sans-serif;
  font-size: 3rem;
  letter-spacing: -4.5px;
  color: black;
  transform: rotate(-12.5deg);
  text-shadow: 1.75px 1.75px 1.75px rgba(0, 0, 0, 0.3);
  margin-top: 4vh;
}

.about-info-container {
  width: 80%;
  height: calc(100vh - 58px - 110px);
}

.about-text {
  line-height: 1.55;
  font-size: 16px;
  letter-spacing: 0.75px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: "Figtree";
}

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-container {
    height: auto;
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-right {
    height: auto;
    overflow-y: hidden;
    order: 1;
    width: 100%;
  }

  .about-title-container {
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url("../../assets/images/dobo-7.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid black;
  }

  .about-title {
    margin: auto;
    font-size: 3.5rem;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 1);
  }

  .about-info-container {
    width: 80%;
    height: auto;
  }

  .about-text {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
