.about-container {
  min-height: calc(100vh - 55px);
  display: flex;
  overflow-y: auto;
  box-sizing: border-box;
}

.about-info-container {
  height: calc(100vh - 58px - 110px);
  width: 80%;
}

.about-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.about-text p {
  margin-top: 0;
}

@media (max-width: 768px) {
  .about-title-img {
    height: 100%;
    width: 50%;
    background-image: url("../../assets/thumbnail-images/dobo-1-thumb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    box-shadow: 1.25px 1.25px 2.5px black;
  }

  .about-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .about-info-container {
    width: 315px;
    height: auto;
  }

  .about-text {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
