.about-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 32px;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
}
