.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: none;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-element.login {
  margin-bottom: 7px;
}

.button.login {
  margin-top: 7px;
}

@media (max-width: 768px) {
  .form-element.login {
    width: 275px;
  }
}
