.faq-container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 55px 0;
}

.faq-info-container {
  height: auto;
  width: 70%;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  //text-shadow: 1.15px 1.15px 2.5px rgba(0, 0, 0, 0.25);
}

.faq-info-container ul {
  margin: 0;
}

.faq-info-container li {
  font-size: 17px;
  font-weight: 600;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .faq-container {
    height: auto;
  }

  .faq-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 315px;
    font-size: 15px;
    line-height: 1.35;
  }

  .faq-info-container li {
    font-size: 16px;
    width: 315px;
  }
}
