/* GLOBAL STYLES */

/* og cream color: #ebe2d9*/

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f1f0;
}

.splash-image-container {
  width: 100vw;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  will-change: transform;
  overflow: hidden;
}

.splash-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.page-content {
  padding-top: 32px;
  padding-bottom: 32px;
  height: auto;
  min-height: calc(100dvh - 85px - 55px);
  background-color: #f2f1f0;
  z-index: 10;
}

/* For button styling */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background: #f2f1f0;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 3.25px 4.5px rgba(0, 0, 0, 0.65);
}

.button:active {
  box-shadow: 0 0.75px 0.75px rgba(0, 0, 0, 0.5);
}

/* Common styles for input, select, and textarea */
.form-element-container {
  display: flex;
  flex-direction: column;
}

.form-element {
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  background-color: #f2f1f0;
  font-size: 14px;
  width: 100%;
}

.form-element:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  box-shadow: 0 3.25px 4.5px rgba(0, 0, 0, 0.5);
}

.form-element:hover {
  cursor: pointer;
}

input {
  padding: 0 10px;
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::active,
textarea::active {
  color: black;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: black;
}

input[type="date"],
input[type="time"] {
  padding: 0 10px;
  height: 40px;
  background-color: #f2f1f0;
  font-size: 14px;
  color: black;
  text-align: left;
}

textarea {
  padding: 10px;
  height: 165px;
  color: black;
}

select {
  height: 40px;
  padding: 0 10px;
  color: black;
  background-color: #f2f1f0;
  letter-spacing: 1px;
}

.select-option {
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
}

/* for label styling */
label {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.Toastify__toast {
  background: #f2f1f0 !important;
  border: 1px solid black !important;
  border-radius: 3px !important;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.95) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.Toastify__progress-bar {
  background: black !important;
}

@media (min-width: 1200px) {
  .image-container {
    width: 375px;
  }
}

@media (max-width: 768px) {
  .page-left {
    display: none;
  }

  .page-bottom {
    height: auto;
  }

  .button:hover {
    color: black;
    background: rgba(0, 0, 0, 0.1);
  }

  .button:active {
    color: black;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.75px 0.75px rgba(0, 0, 0, 0.5);
  }
}

.container {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #f2f1f0;
  z-index: 10;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .page-content {
    padding-top: 16px;
    min-height: calc(100dvh - 65px - 55px);
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}
