html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  //font-family: "Friz Quadrata", sans-serif;
  //background: #eee6de;
  //background: #ebe2d9;
  background: black;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Friz Quadrata';
  src: url('./assets/fonts/friz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
