.parallax {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.parallax .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
}

// attend page image
.parallax .attend-layer {
  background-image: url("./assets/images/attend.jpg");
}

// about page image
.parallax .about-layer {
  background-image: url("./assets/images/about.jpg");
}

// faq page image
.parallax .faq-layer {
  background-image: url("./assets/images/faq.jpg");
}

.page-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #f2f1f0;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2.75px 2.75px 2.75px rgba(0, 0, 0, 0.75);
  font-style: normal;
  opacity: 1;
}

.material-symbols-outlined {
  font-size: 24px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: #f2f1f0;
  margin: 0;
  text-shadow: 2.75px 2.75px 2.75px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .parallax .page-title {
    font-size: 24px;
  }

  .material-symbols-outlined {
    font-size: 20px;
    bottom: 45px;
  }

  .parallax .about-layer {
    background-image: url("./assets/images/24.jpg");
  }

  .parallax .attend-layer {
    background-image: url("./assets/images/10.jpg");
  }
}
