.main-page-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  //box-shadow: 1.5px 1.5px 4px #a9a9a9;
}

.left-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.left-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1025px) {
  .main-page-container {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .main-page-container {
    width: calc(100% - 4px);
  }
}
