.attendee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  animation: fadeIn 0.75s ease-out;
  border-bottom: 1px solid black;
  min-height: 300px;
  width: 300px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.attendee-info {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.attendee-info p {
  font-size: 1.15rem;
}

.attendee-container select {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 1.05rem;
  width: 250px;
  height: 35px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  box-shadow: 1.25px 1.25px 2.5px black;
}

.attendee-container button {
  font-family: "Figtree";
  font-size: 1.15rem;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1.25px 1.25px 2.5px black;
  color: black;
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.attendee-container button:hover {
  background-color: #bd9c72;
  color: black;
}

.attendee-container select:focus {
  outline: none;
  border: 1px solid #bd9c72;
}

.attendee-email {
  display: flex;
  font-size: 1.75rem;
  color: #bd9c72;
  cursor: pointer;
  filter: drop-shadow(1.25px 1.25px 1.5px rgba(0, 0, 0, 0.5));
}

.attendee-email a {
  cursor: pointer;
}

.attendee-message p {
  font-size: 0.9rem;
}
