.attendee-container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  min-height: 300px;
  height: auto;
  background-color: #efefef;
  margin-top: auto;
}

.attendee-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.attendee-name {
  font-weight: 700;
  letter-spacing: -0.15px;
  font-size: 22px;
  margin: 16px 0;
}

.attendee-email:hover {
  color: #bd9c72;
}

.attendee-email a {
  cursor: pointer;
}

.attendee-message p {
  font-size: 14px;
}
