.attendee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  animation: fadeIn 0.75s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.attendee-info p {
  font-size: 1.15rem;
}

.attendee-container select {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 1.05rem;
  width: 250px;
  height: 35px;
  border: 2px solid black;
  border-radius: 25px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: black;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.attendee-container button {
  font-family: "Figtree";
  font-size: 1.15rem;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  color: black;
  background-color: #efefef;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.attendee-container button:hover {
  background-color: #bd9c72;
  color: black;
}

.attendee-info {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.attendee-email {
  font-size: 3.5vh;
  color: #bd9c72;
  text-decoration: none;
}

.attendee-email a  {
  cursor: pointer;
}

.attendee-message p {
  font-size: .9rem;
}
