.attendee-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  height: auto;
  border-bottom: 1px solid black;
}

.attendee-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attendee-name {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 24px;
}

.attendee-email  {
  cursor: pointer;
  margin: 8px 0;
}

.attendee-message p {
  font-size: 14px;
  text-align: center;
}
