.menu-container {
  position: fixed;
  height: 100vh;
  transform: translateY(-100%) translateX(-1px);
  height: 100%;
  width: 350px;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.menu-container.open {
  transform: translateY(0) translateX(-1px);
  z-index: 975;
}

.menu-close-button-container,
.login-button-container {
  display: flex;
  width: 100%;
}

.menu-close-button,
.menu-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  height: 55px;
  width: 40px;
}

.menu-close-button span,
.menu-login-button span {
  font-size: 20px;
  transition: all 0.35s ease-in-out;
  color: #f2f1f0;
  cursor: pointer;
  margin: 0;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
}

.menu-close-button span:hover,
.menu-login-button span:hover {
  transform: scale(1.5);
}

.menu-links-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.menu-link {
  font-size: 25px;
  line-height: 1.95;
  color: #f2f1f0;
  text-decoration: none;
  margin: -0.4rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
}

.menu-link:active,
.menu-link:hover {
  transform: scale(1.45);
  font-weight: normal;
  -webkit-text-stroke: 0.75px #f2f1f0;
  color: transparent;
  font-weight: 700;
}

.link-wrapper {
  margin: 0;
  padding: 0;
}

.menu-login {
  align-self: flex-start;
}

.menu-login button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f2f1f0;
}

.menu-login span {
  font-size: 18px;
}

@media (max-width: 768px) {
  .menu-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
  }

  .menu-link {
    font-size: 22px;
    margin: -0.3rem;
  }
}
