.menu-container {
  position: fixed;
  height: 100vh;
  transform: translateY(-100%);
  transform: translateX(-1px);
  height: 100%;
  width: 350px;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  border: 1px solid black;
  opacity: 0;
  visibility: hidden;
}

.menu-container.open {
  transform: translateY(0);
  transform: translateX(-1px);
  z-index: 975;
  opacity: 1;
  visibility: visible;
}

.menu-close-button,
.menu-login-button {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-close-button {
  top: 16px;
}

.menu-login-button {
  bottom: 16px;
}

.menu-close-button span,
.menu-login-button span {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  color: #f2f1f0;
  margin: 0;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
}

.menu-close-button span:hover,
.menu-login-button span:hover {
  transform: scale(1.25);
}

.menu-links-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.menu-link {
  font-size: 24px;
  line-height: 2;
  color: #f2f1f0;
  text-decoration: none;
  margin: -0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.5);
}

.menu-link:active,
.menu-link:hover {
  transform: scale(1.5);
}

.link-wrapper {
  margin: 0;
  padding: 0;
}

.menu-login {
  align-self: flex-start;
}

.menu-login button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f2f1f0;
}

.menu-login span {
  font-size: 18px;
}

@media (max-width: 768px) {
  .menu-container {
    width: calc(100% + 2px);
    background: rgba(0, 0, 0, 0.85);
  }

  .menu-link {
    font-size: 22px;
    margin: -0.3rem;
  }
}
