.menu-container {
  position: fixed;
  height: 100vh;
  top: calc(-100% - 2.5px);
  height: 100%;
  width: 25%;
  transition: all 0.45s ease-in-out;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1.25px 1.25px 2.5px black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.menu-container.open {
  top: 0;
  z-index: 950;
}

.menu-close-button {
  align-self: flex-start;
  position: absolute;
  border: none;
  background: none;
  top: 1.15rem;
  left: 1.15rem;
}

.menu-close-button span {
  font-size: 20px;
  transition: all 0.35s ease-in-out;
  color: white;
  cursor: pointer;
}

.menu-close-button span:hover {
  transform: scale(1.25);
}

.menu-links-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 5;
}

.menu-link {
  //font-family: "Didot", serif;
  //letter-spacing: -1px;
  //letter-spacing: -1.5px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.75;
  color: white;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}

.menu-link:active,
.menu-link:hover {
  transform: scale(1.2);
  font-weight: normal;
  -webkit-text-stroke: 0.75px white;
  color: transparent;
}

.menu-link {
  margin: -0.4rem;
}

.menu-link:hover {
  cursor: pointer;
}

.menu-login {
  align-self: flex-start;
}

.menu-login button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.menu-login span {
  font-size: 18px;
}

@media (min-width: 1025px) {
  .menu-container {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .menu-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
  }

  .menu-close-button {
    left: 0.05rem;
  }
}
