.contact-container {
  height: calc(100vh - 94px);
  display: flex;
  border-bottom: 2px solid #bd9c72;
}

.contact-left,
.contact-right {
  height: calc(100vh - 94px);
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-left {
  background-image: url(../../assets/images/background.jpg);
  background-size: cover;
  height: 100%;
  border-right: 2px solid #bd9c72;
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
}

.contact-info-container {
  height: calc(100vh - 94px);
  width: 80%;
}

.contact-info-container p {
  font-size: 1.5vh;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -5px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.contact-ig {
  font-size: 2.5vh;
  margin-bottom: 3vh;
}

.contact-ig-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vh;
  margin-bottom: 4.5vh;
}

.contact-ig-logo a {
  font-size: 4vh;
  color: #bd9c72;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1px 1px 2px #000000;
}

.contact-email {
  font-size: 2.5vh;
  margin-top: 3vh;
}

.contact-email-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vh;
  margin-bottom: 4.5vh;
}

.contact-email-logo a {
  font-size: 4vh;
  color: #bd9c72;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1px 1px 2px #000000;
}

.contact-ig-logo a:hover,
.contact-email-logo a:hover {
  cursor: pointer;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.subscribe-container p {
  margin-bottom: 1.5vh;
  text-shadow: 1px 1px 2px #000000;
}

.subscribe-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe-email input {
  font-weight: 600;
  width: 250px;
  border: 1px solid grey;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  margin-bottom: 2vh;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 2px #000000;
}

.subscribe-email input:focus {
  border: 1px solid #bd9c72;
  outline: none;
}

.subscribe-email button {
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  width: 170px;
  height: 40px;
  border: 2px solid #bd9c72;
  border-radius: 50px;
  background-color: black;
  color: #bd9c72;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000;
}

.subscribe-email button:hover {
  background-color: #bd9c72;
  color: black;
}

.contact-image-container {
  height: calc(100vh - 94px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-image {
  height: calc(100%);
  width: calc(100%);
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .contact-container {
    height: auto;
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .contact-left {
    border-bottom: 2px solid #bd9c72;
  }

  .subscribe-email input {
    height: 4vh;
  }
}
