.attend-container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 55px 0;
}

.attend-info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.attend-text {
  width: 265px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.inquiry-form {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.inquiry-form form {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}

@media (max-width: 768px) {
  .attend-container {
    height: auto;
  }

  .attend-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .attend-text {
    width: 300px;
    text-align: justify;
    line-height: 1.35;
  }

  .inquiry-form form {
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .inquiry-form textarea {
    height: 150px;
  }

  .subscribe-container {
    width: 300px;
  }

  .subscribe-text {
    width: 75%;
    font-size: 14px;
    line-height: 1.35;
  }
}
