.attend-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: calc(100vh - 110px);
}

.attend-info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.attend-text {
  width: 235px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.inquiry-form {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.inquiry-form form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  margin: 0 0 32px 0;
}

.subscribe-container {
  box-sizing: border-box;
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.subscribe-text {
  width: 70%;
  font-size: 11px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 60px;
  height: 32px;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="checkbox"]:focus {
  outline: 0;
}

.toggle {
  box-sizing: border-box;
  height: 32px;
  width: 60px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #bd9c72;
  cursor: pointer;
}

.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.35);
  transition: all 0.15s ease-in-out;
  background: linear-gradient(to bottom, #efefef, #d3d3d3);
}

input[type="checkbox"].toggle:checked:after {
  border: 1px solid #bd9c72;
  background: linear-gradient(to bottom, #efefef, #bd9c72);
  transition: all 0.15s ease-in-out;
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .attend-container {
    height: auto;
  }

  .attend-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .attend-text {
    width: 300px;
    text-align: justify;
  }

  .inquiry-form form {
    align-items: center;
    justify-content: center;
    width: 315px;
  }

  .inquiry-form textarea {
    height: 150px;
  }

  .subscribe-container {
    width: 300px;
  }

  .subscribe-text {
    width: 75%;
    font-size: 14px;
  }
}
