.attend-container {
  min-height: calc(100vh - 58px);
  display: flex;
}

.attend-left,
.attend-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.attend-right {
  flex-direction: column;
}

.attend-title-container {
  display: flex;
  width: 80%;
}

.attend-title {
  font-family: "Aboreto", sans-serif;
  font-size: 3.15rem;
  letter-spacing: -3.5px;
  color: black;
  margin-top: 4vh;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.attend-info-container {
  height: calc(100vh - 58px - 110px);
  width: 80%;
}

.attend-text {
  font-size: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: "Figtree";
  line-height: 1.5;
}

.inquiry-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inquiry-form form {
  display: flex;
  flex-direction: column;
}

.inquiry-form input {
  font-family: "Figtree";
  width: 250px;
  border: 1px solid black;
  font-size: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 2vh;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1.25px 1.25px 2.5px black;
  transition: all 0.25s ease-in-out;
}

.inquiry-form textarea {
  font-family: "Figtree";
  width: 250px;
  border: 1px solid black;
  font-size: 1rem;
  padding: 0.7rem;
  margin-bottom: 2vh;
  height: 15vh;
  border-radius: 20px;
  box-shadow: 1.25px 1.25px 2.5px black;
  transition: all 0.25s ease-in-out;
}

.inquiry-form button {
  font-family: "Figtree";
  font-size: 1.25rem;
  width: 170px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1.25px 1.25px 2.5px black;
  color: black;
  background-color: white;
  margin-bottom: 2vh;
  transition: all 0.25s ease-in-out;
}

.inquiry-form input:focus,
.inquiry-form select:focus,
.inquiry-form textarea:focus {
  border: 1px solid #bd9c72;
  outline: none;
}

.inquiry-form button:hover {
  background-color: #bd9c72;
  color: black;
}

.custom-dropdown {
  font-family: "Figtree";
  width: 250px;
  border: 1px solid black;
  font-size: 0.85rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 2vh;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1.25px 1.25px 2.5px black;
  background-color: white;
  cursor: pointer;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.dropdown-list {
  min-width: 315px;
  position: fixed;
  border: 1px solid #bd9c72;
  z-index: 100;
  border-radius: 50px;
  box-shadow: 1.25px 1.25px 2.5px black;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-list-item {
  padding: 12px;
  transition: all 0.25s ease-in-out;
}

.dropdown-list-item:last-child {
  border-bottom: none;
}

.dropdown-list-item:hover {
  font-weight: bold;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-right {
    height: auto;
  }

  .attend-container {
    height: auto;
    flex-direction: column;
  }

  .attend-left {
    display: none;
  }

  .attend-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url("../../assets/images/dobo-10.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid black;
    top: 0;
  }

  .attend-title {
    margin: auto;
    font-size: 3.5rem;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 1);
  }

  .inquiry-form textarea {
    height: 18vh;
  }
}
