.attend-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.attend-image {
  padding-right: 16px;
  flex-basis: 50%;
}

.attend-image img {
  margin: auto;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.attend-info-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  background-color: #f0f0f0;
}

.attend-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.attend-text-italic {
  font-style: italic;
}

.inquiry-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 768px) {
  .attend-text {
    width: 100%;
  }

  .inquiry-form {
    width: 100%;
  }
}
