.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  box-sizing: border-box;
}

.home-image-container {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/dobo-7-7.jpg");
  background-size: cover;
  border: 1.5px solid black;
  box-sizing: border-box;
}

.home-header-container {
  position: sticky;
  top: 0;
  z-index: 900;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.home-header-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 40px;
}

.home-menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  padding-left: 2rem;
  color: white;
  transition: all 0.25s ease-in-out;
}

.home-menu-button span {
  font-size: 22px;
}

.home-menu-button:hover {
  cursor: pointer;
}

.home-menu-button.open {
  filter: blur(50px);
}

.home-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  letter-spacing: -1.5px;
  color: white;
  transition: all 0.25s ease-in-out;
  text-shadow: 1.25px 1.25px 1.25px rgba(0, 0, 0, 0.75);
}

.home-header-title.open {
  filter: blur(50px);
}

.home-invisible-element {
  width: 40px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateY(-22.5px);
  margin: 0;
}


.home-logo {
  width: 117.5px;
  transition: all 0.25s ease-in-out;
}

.home-button {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #efefef;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 2px;
  width: 117.5px;
  height: 35px;
  text-shadow: 4.75px 4.75px 10px black;
  transition: all 0.25s ease-in-out;
}

.home-button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: none;
  background: #bd9c72;
  box-shadow: 1.5px 1.5px 3.25px black;
}

.home-text-container.open .home-logo,
.home-text-container.open .home-button {
  filter: blur(50px);
}

@media (min-width: 1025px) {
  .home-image-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-image-container {
    background-image: url("../../assets/images/dobo-3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .home-header-container {
    width: 100%;
  }

  .home-menu-button {
    text-shadow: 1.75px 1.75px 1.75px rgba(0, 0, 0, 0.35);
  }

  .home-header-title {
    font-size: 0.5rem;
    text-shadow: 1.75px 1.75px 1.75px rgba(0, 0, 0, 0.35);
  }

  .home-logo {
    font-size: 30px;
  }

  .home-button {
    font-size: 16px;
    padding: 0;
  }

  .home-button:hover {
    cursor: pointer;
    background: none;
  }
}
