.home-container {
  height: 100dvh;
  background-image: url("../../assets/images/dobo-7-7.jpg");
  background-size: cover;
}

.home-menu-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: transparent;
  border: none;
  color: #f2f1f0;
  transition: all 0.3s ease-in-out;
  padding: 0;
  cursor: pointer;
}

.home-menu-button span {
  font-size: 24px;
  text-shadow: 0 1.5px 2.75px rgba(0, 0, 0, 0.9);
}

.home-menu-button:hover {
  cursor: pointer;
}

.home-menu-button.open {
  filter: blur(50px);
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  gap: 24px;
}

.logo-wrapper {
  display: flex;
  gap: 2.5px;
  padding: 0;
  img {
    height: 40px;
  }
}

.home-logo {
  margin: 0;
  filter: drop-shadow(0 1.5px 2.75px rgba(0, 0, 0, 0.9));
  opacity: 0;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #f2f1f0;
  font-size: 16px;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 1.5px 2.75px rgba(0, 0, 0, 0.9);
  border: #f2f1f0 1px solid;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  box-shadow: 0 1.5px 2.75px rgba(0, 0, 0, 0.9);
}

.home-button:hover {
  text-shadow: none;
  border: #f2f1f0 1px solid;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2.25px 4.25px 6px rgba(0, 0, 0, 0.75);
}

.home-button:active {
  box-shadow: 0 0.75px 0.75px rgba(0, 0, 0, 0.5);
}

.home-text {
  padding: 0;
  font-size: 24px;
  text-align: center;
  width: 500px;
  font-weight: 500;
  color: #f2f1f0;
  text-shadow: 0 1.5px 2.75px rgba(0, 0, 0, 0.9);
  line-height: 1.25;
  margin: 0;
}

.home-text-container.open {
  filter: blur(50px);
}

@media (max-width: 768px) {
  .home-button {
    font-size: 16px;
  }

  .home-button:hover {
    background: none;
    box-shadow: none;
  }
}
