.home-container {
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.home-image-container {
  background-image: url("../../assets/images/dobo-home-horizontal.jpg");
  background-size: cover;
}

.home-header-container {
  position: sticky;
  top: 0;
  z-index: 900;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.home-header-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 40px;
}

.home-menu-button {
  font-size: 1.15rem;
  background-color: transparent;
  border: none;
  padding-left: 2rem;
  color: #efefef;
  transition: all 0.8s ease;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 1.5s ease;
}

.home-menu-button:hover {
  cursor: pointer;
}

.home-menu-button.open {
  color: transparent;
  text-shadow: none;
  transition: all 0.35s ease;
}

.home-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-title {
  font-family: "Aboreto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: -4.5px;
  color: #efefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 1.5s ease;
}

.home-header-title.open {
  color: transparent;
  text-shadow: none;
  transition: all 0.35s ease;
}

.home-invisible-element {
  width: 40px;
}

@media (min-width: 1025px) {
  .home-image-container {
    height: 100%;
    width: 75%;
  }
}

@media (max-width: 768px) {
  .home-image-container {
    background-image: url("../../assets/images/dobo-home-vertical.jpg");
    width: 100%;
    height: 100%;
  }

  .home-header-container {
    width: 100%;
  }
  .home-header-title {
    font-size: 1.15rem;
  }
}
