.dash-header-container {
  position: sticky;
  top: 0;
  background-color: #efefef;
  z-index: 1000;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-top: 1px solid black;
}

.dash-header-title-container,
.dash-header-links-container {
  border-bottom: 1px solid black;
  width: 100%;
}

.dash-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.dash-header-title {
  font-family: "Aboreto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: -4.5px;
  color: black;
  text-shadow: 1.15px 1.15px 1px rgba(0, 0, 0, 0.25);
}

.dash-header-links-container {
  height: 35px;
}

.dash-header-links nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.dash-link-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.dash-link-container button {
  font-family: "Aboreto", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -2.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dash-link-container:hover {
  background-color: black;
  cursor: pointer;
}

.dash-link-container:hover button {
  color: white;
  background-color: black;
  cursor: pointer;
}

.dash-active-link {
  background-color: black;
}

.dash-active-link button {
  color: white;
  background-color: black;
}

@media (max-width: 768px) {
  .dash-header-container {
    width: 100%;
  }

  .dash-header-title {
    font-size: 1rem;
  }

  .dash-link-container button {
    font-size: 0.85rem;
  }
}
