.dash-header-container {
  position: sticky;
  top: 0;
  z-index: 700;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, #a39d92, #e5dace, #ebe2d9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid black;
}

.dash-header-title-container,
.dash-header-links-container {
  z-index: 702;
  border-bottom: 1px solid black;
  width: 100%;
}

.dash-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.dash-header-title {
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
}

.dash-header-links-container {
  height: 35px;
}

.dash-header-links nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.dash-link-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
}

.dash-link-container button {
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-size: 17px;
  border: none;
  transition: all 0.25s ease-in-out;
}

.dash-link-container:hover {
  background-color: black;
  cursor: pointer;
}

.dash-link-container:hover button {
  color: #f2f1f0;
  cursor: pointer;
}

.dash-active-link {
  background-color: black;
}

.dash-active-link button {
  color: #f2f1f0;
  background-color: black;
}

@media (max-width: 768px) {
  .dash-header-title {
    font-size: 18px;
  }

  .dash-link-container button {
    font-size: 12px;
  }
}
