.dash-header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background: #efefef;
  border-top: 1px solid black;
  box-shadow: 1.75px 1.75px 10px black;
}

.dash-header-title-container,
.dash-header-links-container {
  border-bottom: 1px solid black;
  width: 100%;
}

.dash-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.dash-header-title {
  font-family: "Aboreto", sans-serif;
  font-size: 1rem;
  letter-spacing: -3.5px;
  color: black;
}

.dash-header-links-container {
  height: 35px;
}

.dash-header-links nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.dash-link-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  transition: all 0.25s ease-in-out;
}

.dash-link-container button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -1.65px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.dash-link-container:hover {
  background-color: black;
  cursor: pointer;
}

.dash-link-container:hover button {
  color: white;
  cursor: pointer;
}

.dash-active-link {
  background-color: black;
}

.dash-active-link button {
  color: white;
  background-color: black;
}

@media (max-width: 768px) {
  .dash-header-title {
    font-size: 1.2rem;
    letter-spacing: -6px;
  }

  .dash-link-container button {
    letter-spacing: -1px;
    font-size: 1rem;
  }
}
