.events-list {
  overflow-y: auto;
  min-height: calc(100vh - 92px);
}

.events-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.event-title {
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  text-shadow: 1.15px 1.15px 0.85px rgba(0, 0, 0, 0.2);
  letter-spacing: -2px;
  font-size: 25px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.event-details,
.event-options {
  width: 48%;
  font-family: "Jost", sans-serif;
  font-size: 15px;
}

.event-details {
  margin-left: 2vh;
}

.event-details p {
  margin-bottom: 2vh;
}

.event-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.event-options button {
  margin: 1vh;
}

@media (max-width: 768px) {
  .events-list {
    overflow-y: auto;
    min-height: calc(100vh - 92px);
  }

  .event-options button {
    width: 150px;
    margin: 0.75vh;
  }
}
