.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  height: 55px;
  width: 100%;
  background: linear-gradient(to top, #a39d92, transparent);
}

.footer-title {
  font-size: 12px;
  padding-left: 14px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  color: black;
}

.footer-icons .item {
  height: 30px;
  width: 30px;
  margin: 0 4px;
}

.footer-icons .icon {
  font-size: 20px;
}

.item.footer {
  border: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-icons .item {
    height: 28px;
    width: 28px;
  }
}
