.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  //background: linear-gradient(to top, #a39d92, #e5dace, #ebe2d9);
  background: #ebe2d9;
  border: 1px solid black;
  text-shadow: none;
  box-sizing: border-box;
  box-shadow: 0 -1.25px 1.75px rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.footer-title {
  font-size: 10px;
  letter-spacing: 0px;
  padding-left: 14px;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.3);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  color: black;
}

.footer-icons .item {
  height: 30px;
  width: 30px;
  margin: 0 4px;
  box-shadow: none;
}

.footer-icons .icon {
  font-size: 20px;
}

.item.footer {
  border: none;
  background-color: transparent;
  filter: drop-shadow(0 1.25px 1.5px rgba(0, 0, 0, 0.3));
}

@media (max-width: 768px) {
  .footer-icons .item {
    height: 28px;
    width: 28px;
  }
}
