.footer-container {
  position: sticky;
  bottom: 0;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  box-sizing: border-box;
  height: 55px;
  display: flex;
  z-index: 600;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-left: 14px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.footer-icons .item {
  height: 30px;
  width: 30px;
  margin: 0 4px;
}

.footer-icons .icon {
  font-size: 20px;
}

.item.footer {
  border: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-icons .item {
    height: 28px;
    width: 28px;
  }
}
