.footer-container {
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-left: 15px;
}

.footer-title button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.footer-icons .item {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  box-shadow: none;
}

.footer-icons .icon {
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer-icons .item {
    height: 28px;
    width: 28px;
  }
}
