.gallery-container {
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.masonry-grid {
  height: auto;
  width: 100%;
  display: flex;
}

.masonry-grid_column {
  background-clip: padding-box;
  padding: 6px;
}

.masonry-image {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.25s ease-in-out;
}

.masonry-image img {
  cursor: pointer;
  width: 100%;
  height: auto;
  border: 1px solid black;
  box-shadow: 1.25px 1.25px 2.5px black;
  transition: all 0.25s ease-in-out;
  display: block;
}

.masonry-image:hover {
  //transform: scale(1.015);
}

.masonry-image:hover img {
  box-shadow: 3.75px 3.75px 4.75px black;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-height: 95%;
  max-width: 95%;
  box-shadow: 2.25px 2.25px 2.25px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
}

.lightbox-close-button {
  align-self: flex-start;
  position: absolute;
  border: none;
  background: none;
  top: 1.15rem;
  left: 1.15rem;
}

.lightbox-close-button span {
  font-size: 1.25rem;
  transition: all 0.35s ease-in-out;
  color: white;
  cursor: pointer;
}

.lightbox-close-button span:hover {
  transform: scale(1.15);
}
@media (max-width: 768px) {
  .gallery-container {
    min-height: calc(100vh - 58px);
    overflow-y: hidden;
  }

  .lightbox {
    background: rgba(0, 0, 0, 0.85);
  }
}
