.gallery-container {
  height: auto;
  padding: 12px;

  img {
    opacity: 0;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
