.gallery-container {
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.masonry-grid {
  height: auto;
  width: 100%;
  display: flex;
}

.masonry-grid_column {
  background-clip: padding-box;
  padding: 6px;
}

.masonry-image {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.25s ease-in-out;
}

.masonry-image img {
  cursor: pointer;
  width: 100%;
  height: auto;
  border: 1px solid black;
  box-shadow: 1.25px 1.25px 2.5px black;
  transition: all 0.25s ease-in-out;
  display: block;
}

.masonry-image:hover img {
  transform: scale(1.025);
  box-shadow: 3.25px 3.25px 5.25px black;
}

.ril__toolbar {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .gallery-container {
    min-height: calc(100vh - 58px);
    overflow-y: hidden;
  }

  .lightbox {
    background: rgba(0, 0, 0, 0.85);
  }
}
