.header-container {
  position: sticky;
  top: 0;
  z-index: 700;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 10)
  );
  border-bottom: 1px solid black;
  transition: all 0.25s ease-in-out;
}

.header-container-scrolled {
  position: sticky;
  top: 0;
  z-index: 800;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  box-shadow: 1.75px 1.75px 10px black;
  border-bottom: 1px solid black;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 10)
  );
  transition: all 0.25s ease-in-out;
}

.header-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 40px;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding-left: 2rem;
  color: black;
  transition: all 0.5s ease-in-out;
}

.menu-button span {
  font-size: 1.25rem;
}

.menu-button.open {
  color: transparent;
  text-shadow: none;
}

.menu-button:hover {
  cursor: pointer;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: "Aboreto", sans-serif;
  font-size: 1rem;
  letter-spacing: -4px;
  transition: all 0.5s ease-in-out;
  animation-name: fadeIn;
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.header-title.open {
  color: transparent;
  text-shadow: none;
}

.invisible-element {
  width: 40px;
}

@media (max-width: 768px) {
  
  .header-container,
  .header-container-scrolled {
    box-shadow: .25px .25px 4px black;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 10)
    );
  }

  .header-title {
    font-size: 1.2rem;
    letter-spacing: -6.5px;
  }
}
