.header-container {
  position: fixed;
  top: 0;
  z-index: 700;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  padding-left: 14px;
  color: white;
  text-shadow: 0 1.75px 2.75px rgba(0, 0, 0, 1);
}

.menu-button.open {
  filter: blur(50px);
}

.menu-button:hover {
  cursor: pointer;
}

.header-title {
  filter: drop-shadow(0 1.25px 1.5px rgba(0, 0, 0, 0.3));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: auto;
  opacity: 0;
}
