.header-container {
  position: fixed;
  top: 0;
  z-index: 700;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.header-menu-container {
  z-index: 702;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 40px;
}

.menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  padding-left: 14px;
  color: #f2f1f0;
  text-shadow: 0 2.25px 2.5px rgba(0, 0, 0, 0.5);
  span {
    font-size: 24px;
  }
}

.menu-button.open {
  filter: blur(50px);
}

.menu-button:hover {
  cursor: pointer;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.header-title-container.open .header-title {
  filter: blur(50px);
  
}

.header-title {
  height: 32px;
  transition: all 0.5s ease-in-out;
  z-index: 702;
  filter: drop-shadow(0 1.25px 1.5px rgba(0, 0, 0, 0.3));
}

.invisible-element {
  width: 40px;
}
