.contact-container {
  min-height: calc(100vh - 58px);
  display: flex;
}

.contact-left,
.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title-container {
  display: flex;
  width: 80%;
}

.contact-title {
  font-family: "Aboreto", sans-serif;
  font-size: 3.15rem;
  letter-spacing: -3.5px;
  color: black;
  margin-top: 4vh;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contact-info-container {
  height: calc(100vh - 58px - 110px);
  width: 80%;
}

.contact-ig p,
.contact-email p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: "Figtree";
  font-size: 20px;
}

.contact-logo {
  display: flex;
  justify-content: space-between;
  font-size: 5vh;
  color: black;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.contact-logo:hover {
  color: #bd9c72;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.subscribe-container p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: "Figtree";
  font-size: 20px;
}

.subscribe-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subscribe-email input {
  width: 250px;
  border: 1px solid black;
  font-size: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 2vh;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1.25px 1.25px 2.5px black;
  font-family: "Figtree";
  transition: all 0.25s ease-in-out;
}

.subscribe-email input:focus {
  border: 1px solid #bd9c72;
  outline: none;
}

.subscribe-email button {
  font-family: "Figtree";
  font-size: 1.25rem;
  width: 170px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1.25px 1.25px 2.5px black;
  color: black;
  background-color: #efefef;
  transition: all 0.25s ease-in-out;
}

.subscribe-email button:hover {
  background-color: #bd9c72;
  color: black;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left {
    display: none;
  }

  .contact-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url("../../assets/images/dobo-5.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid black;
  }

  .contact-title {
    margin: auto;
    font-size: 3.5rem;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 1);
  }

  .contact-info-container {
    height: auto;
  }

  .subscribe-email input .subscribe-email button {
    height: 4vh;
  }
}
