.attendance-container {
  width: 30vw;
  min-height: 30vh;
  max-height: 60vh;
  transition: max-height 0.95s ease, opacity 0.95s ease;
  overflow: hidden;
}

.event-date {
  text-align: center;
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  margin-left: 2vh;
  margin-right: 2vh;
}

.attendees-container {
  min-height: 250px;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.attendees-container.visible {
  opacity: 1;
}

.no-attendees-container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-attendees-container p {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 1.5rem;
  color: #bd9c72;
}

@media (max-width: 768px) {
  .attendance-container {
    width: 75vw;
    min-height: 45vh;
  }

  .event-date {
    font-size: 0.75rem;
  }
}
