.attendance-container {
  width: 300px;
  max-height: 650px;
  transition: max-height 0.95s ease, opacity 0.95s ease;
  overflow-y: scroll;
}

.attendees-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.attendees-container.visible {
  opacity: 1;
}

.no-attendees-container {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-attendees-container p {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 1.5rem;
  color: #bd9c72;
}

@media (max-width: 768px) {
}
