.attendance-container {
  min-width: 300px;
  max-width: 610px;
  max-height: 610px;
  overflow-y: scroll;
}

.attendees-container {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-gap: 1px;
  background-color: black;
}

.attendees-container.visible {
  opacity: 1;
}

.no-attendees-container {
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-attendees-container p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
}
