.attendance-container {
  min-width: 300px;
  max-height: 610px;
  overflow-y: scroll;
}

.attendees-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-gap: 1px;
  background-color: black;
  text-shadow: 0 1.25px 1.5px rgba(0, 0, 0, 0.2);
}

.no-attendees-container {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-attendees-container p {
  font-size: 20px;
  color: black;
}
