.edit-event-container {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vh;
}

.edit-event-date {
  text-align: center;
  font-family: "Aboreto", sans-serif;
  font-weight: bold;
}

.edit-event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-event-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-event-form p {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 1.15rem;
  color: black;
}

.edit-event-form button {
  font-family: "Figtree";
  font-size: 1.25rem;
  font-weight: bold;
  width: 170px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 4px #a9a9a9;
  color: black;
  background-color: #efefef;
  margin-top: 0.75rem;
}

.edit-event-form button:hover {
  background-color: #bd9c72;
  color: black;
}

.edit-event-form input {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  width: 225px;
  border: 1px solid black;
  font-size: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  height: 40px;
  border-radius: 50px;
  box-shadow: 1.5px 1.5px 4px #a9a9a9;
}

.edit-event-form select {
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  letter-spacing: 1.5px;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  box-shadow: 1.5px 1.5px 4px #a9a9a9;
}

.edit-event-form input:focus,
.edit-event-form select:focus,
.edit-event-form textarea:focus {
  border: 1px solid black;
  outline: none;
}

.seating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.count-button {
  cursor: pointer;
  color: #bd9c72;
  font-size: 2.5rem;
  font-family: "Figtree";
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .edit-event-date {
    font-size: 0.7rem;
  }

  .edit-event-form input {
    width: 200px;
    height: 35px;
  }

  .edit-event-form button {
    height: 35px;
    font-size: 1rem;
  }

  .edit-event-form p {
    font-size: 0.85rem;
  }
}
