.edit-event-container {
  width: 100%;
  display: flex;
  background-color: red;
}

.edit-event-form {
  padding: 8px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 768px) {
}
