.edit-event-form {
  margin: 16px;
}

.edit-event-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.event-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
