.cancel-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 225px;
  width: 300px;
}

.cancel-event-container p {
  width: 70%;
  font-size: 1.35rem;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 1.25;
  text-align: center;
}
.cancel-event-container button {
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  width: 170px;
  height: 40px;
  border: 2px solid red;
  border-radius: 50px;
  background-color: white;
  color: red;
  font-size: 1.1rem;
  cursor: pointer;
  margin: auto;
}

.cancel-event-container button:hover {
  background-color: red;
  color: white;
}
