.attend-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.attend-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.attend-info-container {
  height: 95vh;
  width: 85%;
  position: absolute;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attend-title-container {
  width: 95%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bd9c72;
}

.attend-title {
  font-size: 3.5vw;
  font-family: "Aboreto", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.attend-form-container {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.attend-form-text {
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.attend-right {
  height: 100%;
  width: 50%;
}

.attend-image-container {
  background-image: url("../assets/dobo-attend-1.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}


@media (max-width: 950px) {
  .attend-container {
    flex-direction: column;
  }
  .attend-left {
    width: 100%;
    height: 100%;
  }
  .attend-right {
    border-left: 10px solid white;
    width: 100%;
    height: 100%;
  }

  .attend-info-container {
    position: relative;
    border-radius: 2.5rem;
    z-index: 3;
    height: 85vh;
    position: fixed;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.35);
  }
  .attend-title {
    font-size: 6.5vw;
    color: white;
    text-shadow: 1px 1px 2px black;
  }

  .attend-image-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}