.event-date {
  text-align: center;
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  margin-left: 2vh;
  margin-right: 2vh;
}

.attendees-container {
  width: 100%;
  min-height: 100px;
  max-height: 75vh;
  overflow-y: scroll;
  border-top: 2px solid #bd9c72;
}

@media (max-width: 768px) {
  .event-date {
    font-size: 0.75rem;
  }
}
