.contact-container {
  height: calc(100vh - 124px);
  display: flex;
  border-bottom: 2px solid #bd9c72;
}

.contact-left,
.contact-right {
  height: calc(100vh - 124px);
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-left {
  background-image: url(../assets/images/left-1.png);
  background-size: cover;
  height: 100%;
  border-right: 2px solid #bd9c72;
}

.contact-info-text {
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  width: 75%;

}

.contact-info-text h2 {
  font-family: "Aboreto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.contact-ig {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image-container {
  height: calc(100vh - 124px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-image {
  height: calc(100%);
  width: calc(100%);
  //border: 10px solid white;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .contact-container {
    height: auto;
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .contact-left {
    border-bottom: 2px solid #bd9c72;
  }
}
