.home-container {
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #BD9C72;
}

.home-image-container {
  height: calc(100vh - 124px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/dobo-horizontal-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .home-container {
    height: calc(100vh- 124px);
    width: 100%;
  }

  .home-image-container {
    height: calc(100vh - 124px);
    width: 100%;
    background-image: url("../assets/images/dobo-vertical-5.png");
    background-repeat: no-repeat;
    background-size: cover;}
}