.home-container {
  height: calc(100vh - 62px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #BD9C72;
}

.home-image-container {
  height: 95%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: calc(100% - 100px); 
  height: calc(100% - 100px); 
  border: 15px solid white; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  object-fit: cover; 
}