.menu-button button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.85rem;
  padding: 10px 10px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu-icon {
  width: 45px;
}

@media (max-width: 768px) {
  .menu-button button {
    top: 0;
    right: 0;
    padding: 15px 15px;
  }

  .menu-icon {
    width: 40px;
  }
}

.menu {
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  right: -50%;
  transition: right 0.5s;
  z-index: 100;
}

.menu.open {
  right: 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title h2 {
  color: white;
  font-family: "Aboreto", sans-serif;
  letter-spacing: 0.15rem;
  font-size: 1.15rem;
  padding: 10px 20px;
}

.menu-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Aboreto", sans-serif;
  font-weight: 900;
  font-size: 1.85rem;
  padding: 10px 20px;
}

.menu-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 10px 20px;
}

.menu-list a {
  color: white;
  font-family: "Aboreto", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 85px;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-admin-btn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.15rem;
  margin: 20px;
}

.footer-social a {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin: 20px;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    right: -100%;
    padding-bottom: 50px;
  }

  .menu.open {
    right: 0;
  }
}
