.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background: black;
  border: 2px solid #bd9c72;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  font-family: "Aboreto", sans-serif;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-right: 1rem;
}

@media (max-width: 768px) {

}