.photo-gallery-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.photo-gallery-container .awssld {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-gallery-container .awssld__content > div {
  background-size: cover;
  background-position: center;
}

.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  visibility: visible;
}
