$light: white;

.animation-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ebe2d9;
  overflow: hidden;
  z-index: 0;
}

.animation-container-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 1;
}

.grads {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grads-row {
  height: calc(100vh / 26);
  background: linear-gradient(
    90deg,
    rgba($light, 0) 0%,
    rgba($light, 0.019) 4.4%,
    rgba($light, 0.07) 8.55%,
    rgba($light, 0.138) 12.1%,
    rgba($light, 0.212) 15.25%,
    rgba($light, 0.291) 18.15%,
    rgba($light, 0.373) 20.9%,
    rgba($light, 0.455) 23.55%,
    rgba($light, 0.538) 26.2%,
    rgba($light, 0.62) 28.85%,
    rgba($light, 0.701) 31.6%,
    rgba($light, 0.781) 34.5%,
    rgba($light, 0.857) 37.65%,
    rgba($light, 0.925) 41.15%,
    rgba($light, 0.978) 45.25%,
    rgba($light, 1) 50%,
    rgba($light, 0.978) 54.75%,
    rgba($light, 0.925) 58.85%,
    rgba($light, 0.857) 62.35%,
    rgba($light, 0.781) 65.5%,
    rgba($light, 0.701) 68.4%,
    rgba($light, 0.62) 71.15%,
    rgba($light, 0.538) 73.8%,
    rgba($light, 0.455) 76.45%,
    rgba($light, 0.373) 79.1%,
    rgba($light, 0.291) 81.85%,
    rgba($light, 0.212) 84.75%,
    rgba($light, 0.138) 87.9%,
    rgba($light, 0.07) 91.45%,
    rgba($light, 0.019) 95.6%,
    rgba($light, 0) 100%
  );
}
